<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iScope.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FF7DF0F1CD4A6150015EC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FF7DF251CD4A6150015EC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FF7DF301CD4A6150015EC1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
